body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
 
h1 {
  font-size: 24px;
  text-align: center;
  font-family: 'Sacramento', cursive;
}

h2 {
  font-size: 20px;
  color: #000000;
  border-bottom: solid 1px #cc0000;
}

h3 {
  font-size: 18px;
  padding-left: 4px;
  border-left: solid 4px #cc0000;
}

#schedule {
  padding: 10px 20px 10px 20px;
  background-color: whitesmoke;
}

.iniad {
  color: blue;
}

.time {
  font-weight: bold;
  color: #FF0000;
  font-size: 30px;
}

#schedule-learning{
  background-image:url("https://images.app.goo.gl/5wDjqz83dftHydbM9");
}